<div>
  <mat-toolbar class="fondo mat-elevation-z3">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ app_name }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu1">
      <mat-icon class="example-icon" style="color:black"
        >account_circle</mat-icon
      >
    </button>
    <mat-menu #menu1="matMenu">
      <div style="width: 200px">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </div>
    </mat-menu>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
